---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

    {% for post in paginator.posts %}

      <div class="col-md-4">
        <div class="container-fluid">
          <div class="panel panel-default post-box">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a class="post-link"
                  href="{{ post.url || prepend: site.baseurl }}">
                  {{ post.title }}
                </a>
              </h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              <article class="excerpt">
                {{ post.excerpt }}
              </article>
              <small>
                <div class="index-meta">
                  {{ post.date | date: "%b %-d, %Y" }}
                  <br />
                  place holder category?
                </div>
              </small>
            </div><!-- /.panel-body -->
          </div><!-- /.panel panel-default -->
        </div><!-- /.container-fluid -->
      </div><!-- /.col-md-4 -->


    {% endfor %}

    <!-- Pagination links -->

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous |
        </a>
      {% else %}
        <span class="previous">Previous | </span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next"> | Next</a>
      {% else %}
        <span class="next "> | Next</span>
      {% endif %}
    </div><!-- /.pagination -->
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
