.wrapper {
  max-width: none;
    @include media-query($on-laptop) {
      max-width: none;
    }
}

.first-post {

}

.post-box {
  position: relative;
}

.excerpt {
  margin-bottom: 75px;
}

.index-meta {
  text-align: right;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.meta-data {
  background-color: blue !important;
}
