.wrapper {
  max-width: none;
    @include media-query($on-laptop) {
      max-width: none;
    }
}

.site-title {
  font-family: 'Press Start 2p', sans-serif;
}

img.img-bordered {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
}

h3.post-title {
  margin-bottom: 30px;
}

h6.panel-title {
  font-size: 0.8em;
}

.post-box {
  position: relative;
}

.excerpt {
  margin-bottom: 100px;
}

.index-meta {
  text-align: right;
  padding: 10px;
  padding-top: 35px;
  position: absolute;
  top: 0;
  right: 0;
}
