.wrapper {
  max-width: none;
    @include media-query($on-laptop) {
      max-width: none;
    }
}

.site-title {
  font-family: 'Press Start 2p', sans-serif;
}

img.img-bordered {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
}

.post-box {
  position: relative;
}

.excerpt {
  margin-bottom: 75px;
}

.index-meta {
  text-align: right;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.most-recent-meta {
  padding: 30px;
}

.meta-data {
  background-color: blue !important;
}
