.ruby-on-rails {
  background-color: #6B0C22 !important;
  color: white !important;
}

.javascript {
  background-color: #F4C889 !important;
  color: white !important;
}

.history-lesson {
  background-color: #D9042B !important;
  color: white !important;
}

.css {
  background-color: #588CBC !important;
  color: white !important;
}

.soft-skills {
  background-color: #011C26 !important;
  color: white !important;
}
